.pokemon-image {
    width: 20rem;
    height: 20rem;
    padding: 20px;
}

p-card {
    text-align: center;

    button {
        min-height: 40px;
    }
}

// ng-deep - переписываем правила, которые были созданы библиотекой
::ng-deep {
    .is-odd {
        .p-card {
            background-color: var(--blue-100);
        }
    }

    .is-caught { .p-card {
        background-color: var(--green-100);
    }
    }
}